.menu-container{
    background: rgb(41, 42, 49);
    border-bottom: 3px solid rgba(0,0,0,0.2);
    padding: 12px;
    margin-bottom: 20px;
    position:sticky;
    top: 0;
}
.menu-link{
    color:white;
    text-decoration: none;
    padding: 12px;
}

.menu-list{
    display: flex;

}
.menu-link.active{
    background-color: #ffffff;
    color: #393f44
}
